/* GERAL */

@font-face{
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    box-sizing: border-box;
    font-family: 'Lato', monospace;
    color: #000000;
    text-decoration: none;
}
body{
    height: 100vh;
}
.version{
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #ecf0f1;
}
.geral-color{
    background: #95a5a6;
}
.geral-input-submit{
    background: #7f8c8d;
    border: none;
    color: #ffffff;
    padding: 5px 25px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s;
}
.geral-input-submit:hover{
    background: #555555;
}

/* FIM GERAL */

/* HEADER TOP */

.top{
    width: 74.1%;
    height: 60px;
    padding: 0 2%;
    display: table;
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
}
.top-title{
    display: table-cell;
    font-size: 1.5em;
    color: #ecf0f1;
    font-weight: 700;
    width: 35%;
    vertical-align: middle;
}
.btn-top{
    display: table;
    list-style: none;
    height: 100%;
}
.btn-top-item{
    display: table-cell;
    vertical-align: middle;
    padding: 2% 2% 0 2%;
    padding: 0;
    width: 60px;
    height: 60px;
    float: left;
    text-align: center;
    transition: background-color 0.4s;
}
.btn-top-item:hover{
    background-color: rgba(255,255,255,0.4);
}
.client{
    background: url('../img/cliente.svg') center center/48px no-repeat;
}
.service{
    background: url('../img/servicos.svg') center center/48px no-repeat;
}
.complete{
    background: url('../img/concluidos.svg') center center/48px no-repeat;
}
.config{
    background: url('../img/config.svg') center center/48px no-repeat;
}
.about{
    background: url('../img/sobre.svg') center center/48px no-repeat;
}

/* FIM HEADER TOP */

/* PAGE - SERVIÇOS/CONCLUÍDOS */

.content{
    width: 70%;
    float: left;
    margin: 2%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 1%;
    position: absolute;
    top: 60px;
}
.clients-list{
    margin: auto;
    width: 98%;
    border-spacing: 0;
    border-collapse: collapse;
}
.clients-list td{
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
    padding: 0;
}
.title-list td{
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    line-height: 2em;
}
.client-row:nth-child(even){
    background-color: rgba(0, 0, 0, 0.1);
}
.client-row:hover a{
    font-weight: 700;
}
.name, .car{
    text-align: left;
    width: 20%;
}
.name{
    padding-left: 3px;
}
.price, .fone{
    text-align: left;
    width: 13%;
}
.plate{
    text-align: center;
    width: 11%;
}
.date{
    text-align: center;
    width: 15%;
}
.client-row-action{
    text-align: center;
}
.moreinfo{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.moreinfo:target{
    opacity: 1;
    pointer-events: auto;
}
.moreinfo > div{
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 5px;
    background: #fff;
}
.close{
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #aaaaaa;
}
.moreinfo h2{
    font-size: 1.7em;
    margin-bottom: 5px;
}
.moreinfo p{
    margin-bottom: 4px;
}

/* FIM PAGE - SERVIÇOS/CONCLUÍDOS */

/* PAGE - CADASTRAR/EDITAR */

.client-form{
    display: inline-block;
}
.attribute-column{
    margin: 1%;
    width: 10%;
    float: left;
}
.input-column{
    margin: 0;
    height: 50px;
    width: 80%;
    float: left;
}
.cf-input-text{
    padding: 5px;
    width: 80%;
    border: solid 3px #c9c9c9;
    transition: border 0.3s;
}
.cf-input-text:focus{
    border: solid 3px #969696;
}
.cf-input-submit{
    margin: 1% 2% 0 2%;
    float: right;
}
.column-radio{
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.control {
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
}
.cf-input-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: -2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #e6e6e6;
    transition: 0.3s;
}
.control--radio .control__indicator {
    border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}
.control input:checked ~ .control__indicator {
    background: #95a5a6;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #95a5a6;
}
.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--radio .control__indicator:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}
.erro-valid{
    width: 30%;
    margin: 1%;
    float: left;   
}
#erro-valid, #erro-valid2{
    color: #c0392b;
}

/* FIM PAGE - CADASTRAR/EDITAR */

/* SIDEBAR RIGHT */

.sidebar-right{
    width: 26%;
    height: 100%;
    float: right;
    padding: 60px 1% 10px 1%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
}
.sr-title{
    font-size: 1.6em;
    color: #ecf0f1;
    font-weight: 700;
}
.sr-chart{
    margin-top: 20px;
}
.sr-date{
    margin-top: 40px;
    list-style: none;
    position: relative;
}
.sr-date li{
    float: left;
    color: #ecf0f1;
    font-weight: 700;
    position: absolute;
    left: 0%;
    padding: 2px;
    border-radius: 0 4px 0 0;
}
.sr-date li:nth-child(2){
    left: 33%;
}
.sr-date li:nth-child(3){
    left: 66%;
}
.sr-chart rect{
    fill: #ecf0f1;
}
.sr-chart rect:hover{
    fill: rgba(236, 240, 241, 0.9);
}
.sr-statistics{
    margin-top: -95px;
    list-style: none;
    height: 40px;
    position: relative;
    pointer-events: none;
}
.month-before-last{
    position: absolute;
    left: 0%;
    display: none;
    color: #ecf0f1;
    font-weight: 700;
    padding: 2px;
    border-radius: 0 4px 4px 0;
}
.last-month{
    position: absolute;
    left: 33%;
    display: none;
    color: #ecf0f1;
    font-weight: 700;
    padding: 2px;
    border-radius: 0 4px 4px 0;
}
.actual-month{
    position: absolute;
    left: 66%;
    display: none;
    color: #ecf0f1;
    font-weight: 700;
    padding: 2px;
    border-radius: 0 4px 4px 0;
}
.sr-buttons{
    margin-top: 100px;
    border-spacing: 10px;
    border-collapse: separate;
}
.sr-buttons td{
    color: #ecf0f1;
    font-weight: 700;
    font-size: 1.2em;
}
.sr-buttons i{
    color: #ecf0f1;
    cursor: pointer;
    transition: color 1s;
}
.sr-buttons i:hover{
    color: rgba(44, 62, 80,1.0);
}

/* FIM SIDEBAR RIGHT */

/* PREFERÊNCIAS */

.pref-title{
    font-size: 1.8em;
    margin-bottom: 10px;
}
.select-stl{
    width: 150px;
    height: 2.3em;
    position: relative;
    display: block;
    overflow: hidden;
    float: left;
}
.select-elem{       
    height: 2.3em;
    padding: 5px;
    border: 0;
    width: 150px;
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select-stl:after{
    content:"\f103";
    font-family: FontAwesome;
    color: #ecf0f1;
    padding: 6px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background: #7f8c8d;
    text-align: center;
    width: 15%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;   
}
.pref-submit{
    margin-left: 1%;
    height: 2.3em;
}

/* FIM PREFERÊNCIAS */

/* RESPONSIVO */

@media screen and (min-width: 0px){
    .top-title{
        font-size: 1em;
    }
}
@media screen and (min-width: 800px){
    .top-title{
        font-size: 1.1em;
    }
}
@media screen and (min-width: 980px){
    .top-title{
        font-size: 1.3em;
    }
}
@media screen and (min-width: 1024px){
    .top-title{
        font-size: 1.5em;
    }
}
@media screen and (min-width: 1280px){
    .top-title{
        font-size: 1.8em;
    }
}
@media screen and (min-width: 1366px){
    .top-title{
        font-size: 2em;
    }
}
@media screen and (min-width: 1680px){
    .top-title{
        font-size: 2.7em;
    }
}

/* FIM RESPONSIVO */