<!DOCTYPE html>
<html>
<head>
	<title>.sistema/</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="sidebar-right geral-color">
        <h3 class="sr-title">{{ lang_6 }}</h3>
        <svg class="sr-chart" width="100%" height="300px" viewBox="0 0 100 100" preserveAspectRatio="none">
            <g transform="translate(0,100) scale(1,-1)">
                <rect id="month-before-last" x="0" y="0" width="33%" height="{{ afmes }}"/>
                <rect id="last-month" x="33%" y="0" width="33%" height="{{ pfmes }}"/>
                <rect id="actual-month" x="66%" y="0" width="33%" height="{{ fmes }}"/>
            </g>
        </svg>
        <ul class="sr-statistics">
            <li class="month-before-last geral-color">{{ lang_7 }}<br>R$ {{ safmes }},00</li>
            <li class="last-month geral-color">{{ lang_7 }}<br>R$ {{ spfmes }},00</li>
            <li class="actual-month geral-color">{{ lang_7 }}<br>R$ {{ sfmes }},00</li>
        </ul>
        <ul class="sr-date">
            <li class="geral-color">{{ lang_8 }} {{ ante }}</li>
            <li class="geral-color">{{ lang_8 }} {{ passado }}</li>
            <li class="geral-color">{{ lang_8 }} {{ atual }}</li>
        </ul>
        <table class="sr-buttons">
            <tr>
                <td id="open-payment"><i class="fa fa-handshake-o fa-1x" aria-hidden="true"></i></td><td>{{ lang_9 }}</td>
            </tr>
            <tr>
                <td id="normal-view"><i class="fa fa-eye fa-1x" aria-hidden="true"></i></td><td>{{ lang_10 }}</td>
            </tr>
            {% block sidebar %}
            {% endblock %}
        </table>
    </div>
	<header class="top geral-color">
		<h3 class="top-title">Gerenciador de Oficina</h3>
        <ul class="btn-top">
            <a title="{{ lang_1 }}" href="{{ url_for('cadastrar') }}"><li class="btn-top-item client"></li></a>
            <a title="{{ lang_2 }}" href="{{ url_for('servicos') }}"><li class="btn-top-item service"></li></a>
            <a title="{{ lang_3 }}" href="{{ url_for('concluidos') }}"><li class="btn-top-item complete"></li></a>
            <a title="{{ lang_4 }}" href="{{ url_for('preferencias') }}"><li class="btn-top-item config"></li></a>
            <a title="{{ lang_5 }}" href="{{ url_for('sobre') }}"><li class="btn-top-item about"></li></a>
        </ul>
	</header>
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
    <p class="version">v 0.0.2</p>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>