{% extends "base.html" %}
{% block content %}
    <table class="clients-list">
        <tr class="title-list">
            <td class="name">{{ lang_47 }}</td>
            <td class="fone">{{ lang_48 }}</td>
            <td class="plate">{{ lang_49 }}</td>
            <td class="car">{{ lang_50 }}</td>
            <td class="price">{{ lang_51 }}</td>
            <td class="date">{{ lang_52 }}</td>
            <td class="client-row-action" title="{{ lang_53 }}">R</td>
        </tr>
        {% for cliente in clientes_completos %}
            {% if cliente.data_saida != None %}
                <tr id="openPay_{{ cliente.id }}" class="client-row">
                    <td class="name"><a href="#moreinfo_{{ cliente.id }}">{{ cliente.nome }}</a></td>
                        <div id="moreinfo_{{ cliente.id }}" class="moreinfo">
                            <div>
                                <a href="#close" title="Close" class="close">X</a>
                                <h2>{{ lang_54 }}</h2>
                                <p>{{ lang_55 }}: {{ cliente.nome }}</p>
                                <p>{{ lang_56 }}: {{ cliente.telefone }}</p>
                                <p>{{ lang_57 }}: {{ cliente.email }}</p>
                                <p>{{ lang_58 }}: {{ cliente.cpf }}</p>
                                <p>{{ lang_73 }}: {{ cliente.endereco }}</p>
                                <p>{{ lang_59 }}: {{ cliente.placa }}</p>
                                <p>{{ lang_60 }}: {{ cliente.carro }}</p>
                                <p>{{ lang_61 }}: {{ cliente.preco }}</p>
                                <p>{{ lang_62 }}: {{ cliente.data_entrada }}</p>
                                <p>{{ lang_63 }}: {{ cliente.descricao }}</p>
                                <p class="openPay_{{ cliente.id }}">{{ lang_64 }}: {{ cliente.pago }}</p>
                                <p>{{ lang_65 }}: {{ cliente.data_saida }}</p>
                            </div>
                        </div>
                    <td class="fone">{{ cliente.telefone }}</td>
                    <td class="plate">{{ cliente.placa }}</td>
                    <td class="car">{{ cliente.carro }}</td>
                    <td class="price">R$ {{ cliente.preco }},00</td>
                    <td class="date">{{ cliente.data_saida }}</td>
                    <td class="client-row-action"><a title="{{ lang_53 }}" href="/deletar/{{ cliente.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
{% block sidebar %}
<tr>
    <td id="open-payment"><i class="fa fa-handshake-o fa-1x" aria-hidden="true"></i></td><td>{{ lang_9 }}</td>
</tr>
<tr>
    <td id="normal-view"><i class="fa fa-eye fa-1x" aria-hidden="true"></i></td><td>{{ lang_10 }}</td>
</tr>
<tr>
    <td id="pdf-list"><a href="{{ url_for('pdf') }}"><i class="fa fa-file-pdf-o fa-1x" aria-hidden="true"></i></a></td><td>{{ lang_66 }}</td>
</tr>
{% endblock %}