{% extends "base.html" %}
{% block content %}
    <div class="client-form">
        <form method="POST" id="client-register-form">
            <div class="attribute-column">{{ lang_11 }}:</div><div class="input-column"><input class="cf-input-text" type="text" name="nome" value="{{ cliente.nome }}" placeholder="..."></div>
            <div class="attribute-column">{{ lang_12 }}:</div><div class="input-column"><input class="cf-input-text" type="text" name="telefone" value="{{ cliente.telefone }}" placeholder="(00) 0000-0000"></div>
            <div class="attribute-column">{{ lang_14 }}:</div><div class="input-column"><input class="cf-input-text" type="text" name="cpf" value="{{ cliente.cpf }}" placeholder="000.000.000-00"></div>
            <div class="attribute-column">{{ lang_13 }}:</div><div class="input-column"><input class="cf-input-text" type="text" name="email" value="{{ cliente.email }}" placeholder="name@mail.com"></div>
            <div class="attribute-column">{{ lang_73 }}:</div><div class="input-column"><input class="cf-input-text" type="text" name="endereco" value="{{ cliente.endereco }}" placeholder="..."></div>
            <div class="attribute-column">{{ lang_16 }}:</div><div class="input-column"><input class="cf-input-text" type="text" name="carro" value="{{ cliente.carro }}" placeholder="..."></div>
            <div class="attribute-column">{{ lang_15 }}:</div><div class="input-column"><input class="cf-input-text" type="text" name="placa" value="{{ cliente.placa }}" placeholder="AAA-0000"></div>
            <div class="attribute-column">{{ lang_17 }}:</div><div class="input-column"><input class="cf-input-text" type="text" name="preco" value="{{ cliente.preco }}" placeholder="1000"></div>
            <div class="attribute-column">{{ lang_18 }}:</div><div class="input-column"><input class="cf-input-text" type="text" name="descricao" value="{{ cliente.descricao }}" placeholder="..."></div>
            <div class="attribute-column">{{ lang_19 }}:</div>
            <div class="input-column column-radio">
            {% if cliente.pago == "Sim" %}
                <label class="control control--radio">{{ lang_20 }}
                    <input class="cf-input-radio" id="Sim" type="radio" name="pago" value="Sim" checked="checked">
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--radio">{{ lang_21 }}
                    <input class="cf-input-radio" id="Nao" type="radio" name="pago" value="Não">
                    <div class="control__indicator"></div>
                </label>
            {% else %}
                <label class="control control--radio">{{ lang_20 }}
                    <input class="cf-input-radio" id="Sim" type="radio" name="pago" value="Sim">
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--radio">{{ lang_21 }}
                    <input class="cf-input-radio" id="Nao" type="radio" name="pago" value="Não" checked="checked">
                    <div class="control__indicator"></div>
                </label>
            {% endif %}
            </div>
            <div class="erro-valid">
                <p id="erro-valid" style="display: none;">{{ lang_25 }}</p>
                <p id="erro-valid2" style="display: none;">{{ lang_26 }}</p>
            </div>
            <input class="geral-input-submit cf-input-submit" type="submit" value="{{ lang_24 }}">
        </form>
    </div>
{% endblock %}