<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Backup {{ date }}</title>
</head>
<body>
    <h2>Backup {{ date }}</h2>
    {% for cliente in clientes %}
        <br>
        <h3>{{ lang_55 }}: {{ cliente.nome }} - {{ cliente.id }}</h3>
        <p>{{ lang_56 }}: {{ cliente.telefone }}</p>
        <p>{{ lang_57 }}: {{ cliente.email }}</p>
        <p>{{ lang_58 }}: {{ cliente.cpf }}</p>
        <p>{{ lang_73 }}: {{ cliente.endereco }}</p>
        <p>{{ lang_59 }}: {{ cliente.placa }}</p>
        <p>{{ lang_60 }}: {{ cliente.carro }}</p>
        <p>{{ lang_61 }}: R$ {{ cliente.preco }},00</p>
        <p>{{ lang_63 }}: {{ cliente.descricao }}</p>
        <p>{{ lang_64 }}: {{ cliente.pago }}</p>
        <p>{{ lang_62 }}: {{ cliente.data_entrada }}</p>
        <p>{{ lang_65 }}: {{ cliente.data_saida }}</p>
        <br>
        <hr>
    {% endfor %}
</body>
</html>